@model Event_Tree_Website.ViewModels.EventViewModel

<div class="body" style="padding-top: 30px; margin-top: 50px;">

    @foreach (var item in Model.Eves)
    {
        <a class="buy_continute mt-4" asp-controller="Event" asp-action="Index"><i class="fa fa-arrow-circle-left"></i> Trở lại trang sự kiện</a>

        @if (@TempData["slError"] != null)
        {
            <div class="alert alert-danger mt-3" role="alert">
                @TempData["slError"]
            </div>
        }


        @if (@TempData["addSuccess"] != null)
        {
            <div class="alert alert-success mt-3" role="alert">
                @TempData["addSuccess"]
            </div>
        }
        <div class="product__details row">
            <div class="row">
                <div class="row">
                    <div class="col-md-12 text-center">
                        @foreach (var image in Model.Images)
                        {
                            <img src="@image.Url" alt="Hình ảnh" style="max-width: 300px; max-height: 300px;" />
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <h2>@item.Name</h2>
                <div class="body__mainTitle d-flex justify-content-between">
                    <h2>MÔ TẢ SỰ KIỆN </h2>
                </div>
                <article>
                    @Html.Raw(item.Description)
                </article>
                <hr />

            </div>
        </div>

        <div class="body__mainTitle d-flex justify-content-between">
            <h2>THÔNG TIN CHI TIẾT SỰ KIỆN </h2>

        </div>
        <article>
            @Html.Raw(item.Detail)
        </article>

        <hr />



    }
</div>
@section scripts {
    <script>
        function changeImage(img) {
            var mainImage = document.getElementById('mainImage');
            var tempSrc = mainImage.src;
            mainImage.src = img.src;
            img.src = tempSrc;
        }
    </script>


}