@model Event_Tree_Website.ViewModels.HomeViewModel

@* <div class="body">
	<div class="body__mainTitle">
		<h2>SỰ KIỆN HOT!!!</h2>
	</div>
	<div class="post-slider2">
		<i class="fa fa-chevron-left prev2" aria-hidden="true"></i>
		<i class="fa fa-chevron-right next2" aria-hidden="true"></i>

		<div class="row">
			<div class="post-wrapper2">
				@if (ViewBag.getSKHOT != null && ViewBag.getSKHOT.Count > 0)
				{
					@foreach (var item in ViewBag.getSKHOT)
					{
						<div class="col-lg-2_5 col-md-4 col-6 post2">
							<a asp-controller="Event" asp-action="EventDetail" asp-route-slug="@item.Link" asp-route-id="@item.Id">
								<div class="product">
									<div class="product__img">
										<img src="~/images/@item.ImageCode" class="img-rounded" alt="@item.Name">
									</div>
									<div class="product__title">
										@item.Name
									</div>

								</div>
							</a>
						</div>
					}
				}
				else
				{
					<p>Không có sự kiện nào được hiển thị.</p>
				}
			</div>
		</div>
	</div>
</div> *@






@foreach (var item in Model.CategoriesParent)
{
	<div class="body">
		<div class="body__mainTitle d-flex align-items-center" style="font-size :26px">
			<h2>@item.Name</h2>

			<div class="d-flex justify-content-center align-items-center ml-5" style="font-size: 26px;">
				@{
					var CategoriesChild = Model.Categories.Where(i => i.IdParent == item.IdCategory.ToString());
				}
				@foreach (var itemSub in CategoriesChild)
				{
					<div class="text-secondary mr-3 select-cat select-@itemSub.IdParent @(itemSub.IdCategory == CategoriesChild.First().IdCategory ? "activeColor" : "")" data-select="cat-@itemSub.IdCategory" data-parent="cat-@itemSub.IdParent">@itemSub.Name</div>
				}
			</div>
		</div>

		@foreach (var itemSub in CategoriesChild)
		{
			<div class="catology cat-@itemSub.IdCategory cat-@itemSub.IdParent @(itemSub.IdCategory == CategoriesChild.First().IdCategory ? "active" : "")">
				<div class="row">
					@foreach (var itemProd in Model.Even.Where(p => p.IdCategory == itemSub.IdCategory && (p.Hide == 0 || p.Hide == null)).OrderByDescending(p1 => p1.DateTime).Take(5).ToList())
					{
						<div class="col-lg-2_5 col-md-4 col-6 post2">
							<a asp-controller="Event" asp-action="EventDetail" asp-route-slug="@itemProd.Link" asp-route-id="@itemProd.Id">
								<div class="product">
									<div class="product__content">
										<div class="product__title">
											@itemProd.Name
										</div>
									</div>
									<div class="product__img">
										<img src="~/images/@itemProd.ImageCode" class="img-rounded"
											 alt="@itemProd.Name">
									</div>

									<p style="text-align: center;margin-top:20px">
										<a href="su-kien/@itemProd.Link-@itemProd.Id" class="btn btn-info" role="button"><i class="fa fa-rocket"></i> Chi tiết</a>
										<div class="form-group">
											<div class="col-md-offset-4 col-md-8">
											</div>
										</div>


									</p>
								</div>
							</a>
						</div>
					}
				</div>
				<center style="margin-top: 30px;">
					<a href="@itemSub.Link-@itemSub.IdCategory" class="btn text-white" style="background: crimson;">Xem thêm sự kiện...</a>
				</center>
			</div>
		}

		@if (CategoriesChild.Count() == 0 && item.IdParent == "0")
		{
			<div class="category cat-@item.IdCategory cat-@item.IdParent active">
				<div class="row">
					@foreach (var itemProd in Model.Even.Where(p => p.IdCategory == item.IdCategory && (p.Hide == 0 || p.Hide == null)).OrderByDescending(p1 => p1.DateTime).Take(5).ToList())
					{
						<div class="col-lg-2_5 col-md-4 col-6 post2">
							<a asp-controller="Event" asp-action="EventDetail" asp-route-slug="@itemProd.Link" asp-route-id="@itemProd.Id">
								<div class="product">
									<div class="product__content">
										<div class="product__title">
											@itemProd.Name
										</div>
									</div>
									<div class="product__img">
										<img src="~/images/@itemProd.ImageCode" class="img-rounded"
											 alt="@itemProd.Name">
									</div>

								</div>
								<p style="text-align: center;margin-top:20px">
									<a href="san-pham/@itemProd.Link-@itemProd.Id" class="btn btn-info" role="button"><i class="fa fa-rocket"></i> Chi tiết</a>

							</a>
						</div>
					}
				</div>
				<center style="margin-top: 30px;">
					<a href="@item.Link-@item.IdCategory" class="btn text-white" style="background: crimson;">Xem thêm sự kiện...</a>
				</center>
			</div>
		}
	</div>
}

