@model Event_Tree_Website.ViewModels.EventManagementViewModel

<div class="bodyyy fix-width scroll-inner" style="margin-top: 50px; padding: 0.5cm;">
    <div class="body__mainTitle d-flex justify-content-between align-items-center">
        <h2>CHI TIẾT SỰ KIỆN</h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label class="control-label">TÊN SỰ KIỆN</label>
                    <input class="form-control" value="@Model.Events.Name" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">THỜI GIAN SỰ KIỆN</label>
                    <input class="form-control" value="@Model.Events.DateTime.ToString("g")" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">MÔ TẢ</label>
                    <input class="form-control" value="@Model.Events.Description" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">CHI TIẾT</label>
                    <input class="form-control" value="@Model.Events.Detail" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">HÌNH ẢNH</label>
                    <div>
                        <img src="~/images/@Model.Events.ImageCode" alt="Hình ảnh" style="max-width: 100px; max-height: 100px;" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">TRẠNG THÁI</label>
                    <input class="form-control" value="@(Model.Events.Hide == 0 ? "Hiển thị" : "Ẩn")" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">DANH MỤC</label>
                    <input class="form-control" value="@Model.Events.IdCategory" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">NGÀY TẠO SỰ KIỆN</label>
                    <input class="form-control" value="@(Model.Events.CreatedAt?.ToString("g") ?? "N/A")" readonly />
                </div>

                <div class="form-group">
                    <label class="control-label">NGÀY SỬA SỰ KIỆN</label>
                    <input class="form-control" value="@(Model.Events.UpdatedAt?.ToString("g") ?? "N/A")" readonly />
                </div>

                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.Events.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Quay lại trang</a>
                </div>
            </form>
        </div>
    </div>
</div>
